#delete-translations-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border: 0.1rem solid #969696;
  max-width: 50rem;
  width: 80%;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 1rem;
}

#translation-container-text {
  width: 80%;
  max-width: 50rem;
  display: flex;
  margin: 1rem auto auto;
  font-weight: bold;
  font-size: 1.5rem;
}
