#Container {
  background-color: white;
  border: 0.1rem solid #969696;
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 50rem;
  width: 80%;
  margin: auto;
}
