#top-header {
  background-color: #ffc75f;
  border-bottom: 0.1rem solid #6f6f6f;
  font-family: "Love Ya Like A Sister", cursive;
}

#header-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50rem;
  width: 80%;
  margin: auto;
}

#header-text-icon-container {
  display: flex;
  align-items: center;
}

#header-text {
  font-size: 2rem;
  color: white;
  padding-left: 1rem;
}

#profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Username-span {
  padding-right: 0.3rem;
  color: white;
}
