#input-container {
  background: #efefef;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
  border-radius: 2.5rem;
  border: 0.2rem solid;
  padding: 0.15rem;
  max-width: 50rem;
}

#input-icon-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#keyboard-icon {
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

#keyboard-separator {
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: serif;
  text-align: center;
  margin-right: 0.2rem;
  border-left: 0.15rem solid black;
  height: 2rem;
}
