#welcome-container {
  background-color: #ffc75f;
  margin-bottom: 1rem;
}

#welcome-content-container {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  max-width: 50rem;
  width: 80%;
  margin: auto;
  padding: 2rem;
}

#welcome-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

h1,
h4 {
  color: white;
}
